html {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

body {
    background-color: white;
    background-image: url(images/arduino-beter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.no-underline {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
}

header {
    height: 100px;
    text-align: center;
}

nav {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    height: 40px;
    text-align: center;
}

main {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.678);
    height: 325px;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

p {
    font-size: 30px;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);
    height: 75px;
}

.foot {
    padding-top: 20px;
}